.DS_Store

.idea

infra/terraform/*/*/.terraform.lock.hcl
infra/terraform/*/*/.terraform.tfstate.lock.info
infra/terraform/*/*/.tfvars
infra/terraform/*/*/.tfvars.json
infra/terraform/*/*/terraform-provider-*
infra/terraform/*/*/.terraform/plugins/
infra/terraform/*/*/.terraform/providers/
infra/terraform/*/*/terraform.tfstate
infra/terraform/kubernetes/aks/orion-development/terraform.tfstate.backup

venv/
.venv/

infra/terraform/kubernetes/aks/orion-development/.terraform.lock.hcl
infra/terraform/kubernetes/aks/orion-development/terraform.tfstate
infra/terraform/kubernetes/aks/orion-development/.terraform/providers/registry.terraform.io/azure/
infra/terraform/kubernetes/aks/orion-development/.terraform/providers/registry.terraform.io/hashicorp/


infra/terraform/kubernetes/aks/owshq-orion-ws-dev/terraform.tfstate.backup

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/.terraform.lock.hcl

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/.terraform/providers/registry.terraform.io/azure/azapi/1.12.1/darwin_arm64/terraform-provider-azapi_v1.12.1

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.93.0/darwin_arm64/terraform-provider-azurerm_v3.93.0_x5

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.0/darwin_arm64/terraform-provider-random_v3.6.0_x5

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/.terraform/providers/registry.terraform.io/hashicorp/time/0.9.1/darwin_arm64/terraform-provider-time_v0.9.1_x5

infra/terraform/kubernetes/aks/owshq-orion-ws-dev/terraform.tfstate
